@model LoginSignUpModel

@section CSS {
    <link href="~/css/registerform.css" rel="stylesheet" asp-append-version="true" />
    <style>
        #bdPicker li {
            list-style: none;
        }

        #bdPicker table tr td,
        #bdPicker table tr th {
            padding: 10px 0;
            text-align: center;
        }
    </style>
}

@section JS {
    <script src="~/js/registerswitch.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(function () {
            $('#SignUpModel_BirthDate').datetimepicker({
                useCurrent: true,
                format: 'MM/DD/YYYY'
            });
        });

        $(document).ready(function () {
            @if (ViewBag.Title == "Login")
            {
                @:$("#signinOpen").click();
            }
        })

        $("#tg-main").attr("style", "background-image: url(https://ztourist.blob.core.windows.net/others/tour.jpg)");
    </script>
    <script>
        $.validator.addMethod("mustCheck", function (value, element) {
            return element.checked;
        });

        //add new method to unobtrusive adapter to perform
        $.validator.unobtrusive.adapters.add("mustCheck", function (options) {
            options.rules["mustCheck"] = true;
            options.messages['mustCheck'] = options.message;
        });
    </script>
}

<div class="register-form">
    <ul class="tab-group clearfix">
        <li class="tab"><a id="signinOpen" href="#signin">Sign In</a></li>
        <li class="tab active"><a href="#signup">Sign Up</a></li>
    </ul>
    <div class="tab-content">
        @await Html.PartialAsync("SignUpPartial", Model)
        @await Html.PartialAsync("LoginPartial", Model)
    </div><!-- tab-content -->
    <div class="tg-shareor"><span>or</span></div>
    <div class="tg-signupwith" style="margin-bottom: 5%">
        <h2 style="color: white">Sign in With...</h2>
        <ul class="tg-sharesocialicon">
            <li class="tg-facebook"><a asp-controller="Account" asp-action="FacebookLogin" asp-route-returnUrl="@(ViewBag.returnUrl)"><i class="icon-facebook-1"></i><span>Facebook</span></a></li>
            @*<li class="tg-twitter"><a asp-controller="Account" asp-action="TwitterLogin"><i class="icon-twitter-1"></i><span>Twitter</span></a></li>*@
            <li class="tg-googleplus"><a asp-controller="Account" asp-action="GoogleLogin" asp-route-returnUrl="@(ViewBag.returnUrl)"><i class="icon-google4"></i><span>Google</span></a></li>
        </ul>
    </div>
</div>
