@model DestinationSearchModel

@section CSS {
    <style>
        #datetimepicker1 table tr td,
        #datetimepicker1 table tr th {
            color: black;
        }
    </style>
}

@section JS {
<script type="text/javascript">
    $("#tg-main").attr("class", "tg-main tg-sectionspace tg-haslayout");
</script>
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="tg-content" class="tg-content">
                <div class="tg-listing tg-listingvtwo">
                    <div class="tg-sectiontitle">
                        <h2>Destinations</h2>
                    </div>
                    <s:if test="%{listPlace != null}">
                        <s:if test="%{!listPlace.isEmpty()}">
                            <div class="clearfix"></div>
                            <div class="row">
                                <s:iterator value="%{listPlace}">
                                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                        <div class="tg-trendingtrip">
                                            <figure>
                                                <a href="javascript:void(0);">
                                                    <img style="width: 401px; height: 250px" src="<s:property value=" %{titleImage}" />" alt="destination image">
                                                    <div class="tg-hover">
                                                        <span class="tg-locationname"><s:property value="%{id}" /></span>
                                                        <div class="tg-pricearea">
                                                            <h4><s:property value="%{country}" /></h4>
                                                        </div>
                                                    </div>
                                                </a>
                                            </figure>
                                            <div class="tg-populartourcontent">
                                                <div class="tg-populartourtitle">
                                                    <h3><a href="javascript:void(0);"><s:property value="%{name}" /></a></h3>
                                                </div>
                                                <div class="tg-description">
                                                    <p><s:property value="%{des}" /></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </s:iterator>
                            </div>
                            <div class="clearfix"></div>
                            <nav class="tg-pagination" page-info="@Model.PageInfo"
                                 page-url-SearchDestinationModel_IsActive="@(Model.IsActive ?? null)"
                                 page-class-selected="tg-active"></nav>
                        </s:if>
                    </s:if>
                </div>
            </div>
        </div>
    </div>
</div>
