@{ 
    Layout = null;
}
<!DOCTYPE html>

<html class="no-js" lang="">
<head>
    @await Html.PartialAsync("HeaderPartial")
    <title>Z Tourist - Access Denied</title>
</head>
<body class="tg-404errorpage">
    <main id="tg-main" class="tg-main tg-haslayout">
        <div class="tg-404error" style="padding: 20% 0;">
            <div class="container">
                <div class="row">
                    <div class="tg-404errorcontent">
                        <h1>Access Denied</h1>
                        <h2>This page isn't available</h2>
                        <div class="tg-description">
                            <p>Sorry but the link that you followed is not allowed to access...</p>
                        </div>
                        <a class="tg-btn" asp-area="@(User.IsInRole("Customer") ? "" : "Company")" asp-controller="Home" asp-action=""><span>Back to home</span></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>