@{ 
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    @await Html.PartialAsync("HeaderPartial")
    <title>Z Tourist - @(ViewBag.Title ?? "Error")</title>
</head>
<body class="tg-404errorpage">
    <main id="tg-main" class="tg-main tg-haslayout">
        <div class="tg-404error" style="padding: 20% 0;">
            <div class="container">
                <div class="row">
                    <div class="tg-404errorcontent">
                        <h1>@(ViewBag.StatusCode ?? "ERROR")</h1>
                        <h2>@(ViewBag.Title ?? "Oops! Something went wrong")</h2>
                        <div class="tg-description">
                            <p>@(ViewBag.Message ?? "We are very sorry, please try again in a moment.")</p>
                        </div>
                        <a class="tg-btn" asp-area="" asp-controller="Home" asp-action=""><span>go back to home</span></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
